html {
   scroll-behavior: smooth; /* scrolling behaviour */
 } 
body{
    margin: 0px;
    padding: 0px;
}
nav{
   padding-left: 90px;
   background-color:white;
   position: fixed;
   top: 0;
   width: 100%;
   
}
ul {
    list-style-type: none; /* none means remove dots in list */
    margin: 0px;
    padding: 0px;
    background-color:white;
    
}
li {
    display: inline-block; /* inline block means display list in one line of blocks */
    width: auto;
    padding-left: 30px;
    font-family: Cambria;
    font-size: larger;
    font-weight: 600;
 }
 a{
    text-decoration: none;
    color:darkgrey;
        
 }
 a:hover{
   color: rebeccapurple;
 }
 #h2first{
    color: darkgray;
    padding-left: 100px;
    padding-right: 150px;
    font-family:Arial;
    line-height: 35px;
}
 #h1first{
   padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-family:Century Gothic ;
    font-size: 45px;
    
 }
 #btn1:hover{
   background-color:rgb(245, 196, 51);
 }
 #btn1{
    margin-top: 30px;
    margin-left: 100px;
    padding: 20px;
    background-color: rgb(248, 226, 63); 
    color: black;
    border: 2px;
    font-size: larger;
    border-radius: 35px; /* border cornar */
 }
 #about{
    padding: 0%;
    margin: 0%;
 }
 #h2sec{
   padding-top: 50px;
    padding-left: 600px;
    padding-right: 100px;
    font-family:sans-serif;
    font-weight:600;
 
 }
 #aboutp1{
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family:sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(102, 101, 101);
    font-size: larger;
    line-height: 25px;
    
 }
 #img2{
    height:300px;
    width:350px;
    padding-left: 100px;
 }
 #counter{
    padding-left: 10px;
    font-family:sans-serif;
 }
 #aboutp2{
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family:Arial;
    padding-right: 200px;
    font-size: 25px;
 }

 #h2third{
   font-family:sans-serif;
    font-weight:200;
    padding-left: 100px;
    padding-right: 100px;
 }
 .box{
   width: 450px;
   height: 500px;
   border: 0px solid black;
   margin: 0;
   padding: 0;
   }
div.box:hover {
   background-color: rgb(195, 224, 233);
 }
 li:a{
   background-color: rgb(195, 224, 233);
 }
#servicep{
   font-family:Arial;
    font-weight:200;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 15px;
}
#serviceimg{
   padding-left: 100px;
}

.box2{
   width: 450px;
   height: 350px;
   border: 0px solid black;
   margin: 0;
   padding: 0;
   }
.prod{
   width: 90px;
   height: 80px;
   margin-left: 120px;
   margin-right: 100px;
   margin-top: 70px;
   margin-bottom: 70px;
   padding-bottom: 30px;
   
   }

div.prod:hover{
   background-color: rgb(204, 204, 248);
}
#prodimg{
   height: 60px;
   width: 50px;
   border-radius: 40%;
}
#teamimg{
   padding-left: 100px;

}
p{
   font-family:'Lucida Sans';
   color: rgb(96, 99, 99);
   font-size: smaller;
   
}
#contact{
   margin-left: 300px;
}
#cntct{
   margin-left: 50px;
   margin-right: 100px;
}
h4{
   height: 100px;
   width: 200px;
}
/* icon */
 .fa {
   padding: 20px;
   font-size: 30px;
   width: 20px;
   text-align: center;
   text-decoration: none;
 }
 .fa-facebook {
   background: #3B5998;
   color: white;
   border-radius: 100%;
 }
 .fa-twitter {
   background: #55ACEE;
   color: white;
   border-radius: 100%;
 } 
 /* 26-12-22 */

 

 /* imagesdancing */
 img.vert-move {
   padding-top: 160px;
   -webkit-animation: mover 1s infinite  alternate;
   animation: mover 2s infinite  alternate;
}
img.vert-move {
   -webkit-animation: mover 1s infinite  alternate;
   animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
   0% { transform: translateY(0); }
   100% { transform: translateY(-10px); }
}
@keyframes mover {
   0% { transform: translateY(0); }
   100% { transform: translateY(-10px); }
}
#ft{
   padding-left: 900px;
}
/* contact page css */

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical ;
}
input[type=email] {
   width: 100%; 
   padding: 12px; 
   border: 1px solid #ccc; 
   border-radius: 4px; 
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize: vertical ;
 }
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#joinush1{
   padding-top: 50px;
   padding-left: 50px;
}
